<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated carnival -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="carnival.presentation.CarnivalModelWizardID"
            name="%_UI_CarnivalModelWizard_label"
            class="carnival.presentation.CarnivalModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CarnivalModelFile.gif">
         <description>%_UI_CarnivalModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated carnival -->
      <editor
            id="carnival.presentation.CarnivalEditorID"
            name="%_UI_CarnivalEditor_label"
            icon="icons/full/obj16/CarnivalModelFile.gif"
            extensions="carnival"
            class="carnival.presentation.CarnivalEditor"
            contributorClass="carnival.presentation.CarnivalActionBarContributor">
      </editor>
   </extension>

</plugin>
